<template>
  <v-app>
    <v-navigation-drawer
      temporary
      v-model="sideNav"
      light
      overflow
      absolute
    >
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-list-tile
          v-for="item in menuItems"
          :key="item.title"
          :to="item.link">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="userIsAuthenticated" @click.prevent="onLogout">
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Logout</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar dark class="primary">
      <v-toolbar-title>
        <router-link to="/" tag="span" style="cursor: pointer">VueMeetup</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          flat v-for="item in menuItems"
          :key="item.title"
          :to="item.link">
          <v-icon left>{{  item.icon }}</v-icon>
          {{ item.title }}
        </v-btn>
        <v-btn flat @click.prevent="onLogout" v-if="userIsAuthenticated">
          <v-icon left>exit_to_app</v-icon>
          Logout
        </v-btn>
      </v-toolbar-items>
      <v-toolbar-side-icon  @click.stop="sideNav = !sideNav" class="hidden-md-and-up"></v-toolbar-side-icon>
    </v-toolbar>
    <main>
      <v-container fluid>
        <!--v-router-->
        <router-view></router-view>
      </v-container>
    </main>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        sideNav: null,
        right: null
      }
    },
    computed: {
      menuItems () {
        let menuItems = [
          {title: 'Sign up', icon: 'face', link: '/signup'},
          {title: 'Sign in', icon: 'lock_open', link: '/signin'}
        ]
        if (this.userIsAuthenticated) {
          menuItems = [
            {title: 'View Meetups', icon: 'supervisor_account', link: '/meetups'},
            {title: 'Organize Meetup', icon: 'room', link: '/meetup/new'},
            {title: 'Profile', icon: 'person', link: '/profile'}
          ]
        }
        return menuItems
      },
      userIsAuthenticated () {
        return this.$store.getters.user !== null && this.$store.getters.user !== undefined
      }
    },
    watch: {
      userIsAuthenticated (value) {
        if (!value) {
          this.$router.push('/')
        }
      }
    },
    methods: {
      onLogout () {
        this.$store.dispatch('logout')
      }
    }
  }
</script>

<style lang="stylus">
  @import './stylus/main'
</style>
